.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-font {
  font-family: 'consolas', sans-serif;
  color: #2A3663;
}

.App-logo {
  color: #FC6736;
  font-weight: bolder;
  font-size: larger;
}

.bg-color-custom {
  background-color: #FAF7F0
}

.bg-hover-color {
  background-color: #ECDFCC ;
}


.bg-calcurlator-color-custom {
  background-color: #272b4d;
}
@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0); /* Kết thúc với vị trí ban đầu (vị trí thông thường) */
  }
}

.slide-in {
  opacity: 60;
  transform: translateX(-100%); 
  animation: slideInLeft 0.1s ease-out forwards; 
}